.techContainer {
    display: flex;
    flex-direction: column;
    margin: 16.5rem 11.3rem 0 11.3rem;
}
.mainContainer{
    display: flex;
    flex-direction: column;
}

.placeholder {
    align-self: flex-end;
    color: #283618;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: none;
    letter-spacing: 0.06rem;
}

.techGroup {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: #283618;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 135%;
    /* 3.375rem */
    letter-spacing: 0.05rem;
}

.linkGroup {
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
}

.linkGroup a {
    padding: 1rem;
    justify-content: center;
    border-radius: 0.625rem;
    background: #606C38;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
}
.linkGroup a:nth-child(1), .linkGroup a:nth-last-child(1){
    background: #BC6C25;
}

@media screen and (max-width:860px)
{
    .techContainer {
        margin: 0;
        margin-top: 16rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .placeholder{
        display: none;
    }
    .linkGroup {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

}